* {
	margin: 0;
	padding: 0;
	bottom: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

.banner {
	color: #fff;
	background-color: #1056ad;
	padding: 15px;
	text-align: center;

	&:nth-child(2) { background-color: #990000; }
	&:nth-child(3) { background-color: #99a; }
	&:nth-child(4) { background-color: #99a000; }
	&:nth-child(5) { background-color: #1056ad; }
}

.prev, .next {
	width: auto;
	display: inline-block;
	height: 150px;
	line-height: 150px;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	z-index: 999;
	padding: 0 15px;
}

.next {
	right: 0;
	left: auto;
	text-align: right;
}