@import 'reset.scss';

.intro {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-flow: nowrap row;
	overflow: hidden;

	article {
		flex: 0 0 100%;
		height: 100%;
		transform: translateX(0);
		transition: transform .7s ease .4s;
		background-color: #1056ad;

		&:nth-child(2) {
			background-color: #990000;
		} 
	}
}